node-red
[{"id":"39a8cdda95d3ecfc","type":"poll-state","z":"3856069f62cfc290","name":"current PV output","server":"71e962d3.a6073c","version":2,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"updateinterval":"60","updateIntervalType":"num","updateIntervalUnits":"seconds","outputinitially":true,"outputonchanged":true,"entity_id":"sensor.sma_edmm_current_pv_feed_in_active_power_on_all_line_conducors","state_type":"num","halt_if":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"x":100,"y":80,"wires":[["1e6e0f03cb1e3de6"]]},{"id":"a56ea4d531c62203","type":"ha-sensor","z":"3856069f62cfc290","name":"Current PV output","entityConfig":"672e8bfbac390ed4","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":750,"y":100,"wires":[[]]},{"id":"48113e6bae857704","type":"switch","z":"3856069f62cfc290","name":"filter","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"-2147483648","vt":"str"},{"t":"lte","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":430,"y":80,"wires":[["2abf15015353cfb8"],["2abf15015353cfb8"],["2abf15015353cfb8"],["a56ea4d531c62203"]]},{"id":"2abf15015353cfb8","type":"change","z":"3856069f62cfc290","name":"0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":40,"wires":[["a56ea4d531c62203"]]},{"id":"1e6e0f03cb1e3de6","type":"change","z":"3856069f62cfc290","name":"to int and kw","rules":[{"t":"set","p":"payload","pt":"msg","to":"$round($number(payload) / 1000, 2)\t\t\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":80,"wires":[["48113e6bae857704"]]},{"id":"71e962d3.a6073c","type":"server","name":"Home Assistant","addon":true},{"id":"672e8bfbac390ed4","type":"ha-entity-config","server":"71e962d3.a6073c","deviceConfig":"","name":"Current PV output","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Nuvarande produktion"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"power"},{"property":"unit_of_measurement","value":"kW"},{"property":"state_class","value":"measurement"}],"resend":true,"debugEnabled":false}]
